.venv/
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
*.swp
.DS_Store
results/
debug.log
jit_tmp*
tmp_casadi_compiler_*
*.o
*.so
*.tex
*.aux
*.log
*.bbl
*.blg
*.pdf
*.synctex*
